<%#= render 'navigation/top_menu' %>
<%= render 'navigation/nav_bar' %>

<div class="col-span-12 w-full pt-6">
  <div class="flex justify-center pb-6">
    <span class="font-bold text-xl text-zinc-800 px-2 py-2 justify-center bg-orange-200 rounded-lg border-[1px] border-zinc-800">ПРОФИЛЬ</span>
  </div>
  <%= render @profile %>
  <div class="flex col-span-1 pt-6">
    <%= button_to edit_user_profile_path(current_user, current_user.profile), method: :get, class: 'flex h-10 px-4 py-1.5 bg-orange-200 text-m text-orange-600 border-[1px] rounded-lg border-red-200 focus:border-orange-800 focus:bg-orange-400 focus:ring-0 justify-center' do %>
      Редактировать
    <% end %>
  </div>
</div>