<%= render 'navigation/nav_bar' %>

<div class="col-span-12 w-full pt-6">
  <div class="flex justify-center pb-6">
    <span class="font-bold text-xl text-zinc-800 px-2 py-2 justify-center rounded-lg">Мои материалы</span>
    <div class="ps-5">
      <%= button_to new_user_course_path(current_user), method: :get, class: 'font-bold text-xl text-zinc-800 px-2 py-2 justify-center bg-orange-200 rounded-lg border-[1px] border-zinc-800' do %>
        + Добавить курс
      <% end %>
    </div>
  </div>
  <% @user_courses.each do |course| %>
    <%= render "course_preview", course: course %>
  <% end %>
</div>